.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.add-todo-form {
  display: flex;
  margin-bottom: 20px;
}

.add-todo-form input {
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
}

ul{
  padding: 50px;
  background-color: #edfbff;
  margin: 0 -75px;
  border-radius: 10px;
}

.todo-list {
  list-style-type: none;
  padding: 0 10px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 30px;
  border-bottom: 2px solid #4949494d;
  transition: .2s ease-in-out;
}
.todo-list li:hover{
  background-color: white;
}

.todo-list div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: #888;
}

.todo-list input{    
  font-family: system-ui, sans-serif;
  font-size: 1.01rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin: 0 10px;
  transition: 0.2s ease-in-out;
}
.todo-list input[type="checkbox"]:hover {
  outline: max(2px, 0.15em) solid olivedrab;
  outline-offset: max(0px, 0.25rem);
  border-radius: 5px;
}

input{
  border-radius: 3px;
  border: 2px solid beige;
  height: 30px;
}

.del-btn{
  background-color: white;
  border-radius: 3px;
}

.add-todo-form button {
  padding: 5px 20px;
  background-color: white;
  font-size: 16px;
  border: 2px solid beige;
  color: rgb(60, 60, 60);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  transition: .2s ease-in-out;
}
.add-todo-form button:hover {
  background-color: #4caf4f;
  color: white;
}

.todo-list li button {
  padding: 5px 10px;
  border: 1px solid #f44336;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  cursor: pointer;
  transition: .2s ease-in-out;
  font-size: 16px;
}

.todo-list li button:hover{
  color: white;
  background-color: red;
  cursor: default;
}


